
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/
.env/

# VS Code settings
.vscode/
*.code-workspace

# PyCharm settings
.idea/

# Environments
*.env
*.venv

# mypy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# pyright
.pyright/

# pytest
.cache

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
!docs/_build/html/_static/.gitkeep

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or routinely regenerating
#   the lock file, pipfile.lock should be added to .gitignore.
# Pipfile.lock

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
*.env
.env.bak
*.venv

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# MkDocs documentation
/site

# Ended sessions
*.session

# jinxed
!.jinx

# virtualenv
.venv/

# pycharm
.idea/

# mypy
.mypy_cache/
dmypy.json
dmypy.json.10714

# pylance
.vscode/

