body {
    display: flex;
    font-family: Arial, sans-serif;
}

#file-browser-container {
    width: 25%;
    border-right: 1px solid #ddd;
    padding: 10px;
}

#file-browser {
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
}

#file-browser div {
    padding: 5px;
    cursor: pointer;
}

#file-browser div.selected {
    background-color: #ddd;
}

.parent-drop-area {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    text-align: center;
    border: 1px dashed #ccc;
    cursor: pointer;
}

#editor-container {
    width: 75%;
    padding: 10px;
}

button {
    margin: 5px;
}

.CodeMirror-hints {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 2px;
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    border-radius: 3px;
    border: 1px solid silver;
    background: white;
    font-size: 90%;
    font-family: monospace;
    max-height: 20em;
    overflow-y: auto;
}

.CodeMirror-hint {
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    white-space: pre;
    color: black;
    cursor: pointer;
}

li.CodeMirror-hint-active {
    background: #08f;
    color: white;
}
